---
import Projects from "../projects/Projects.astro";
import Contact from "../contact/Contact.astro";
import About from "../about/About.astro";
---

<div id="head" class="text-center my-8 space-y-4">
	<h1>Portfolio</h1>
	<p>A collection of my projects and works.</p>
	
	<a href="/projects-container">View projects</a>
	<a href="/about">About me</a>
</div>

<div id="projects-container">
	<Projects>
</div>

<div id="about-container">
	<About>
</div>

<div id="contact-container">
	<Contact>
</div>

