<div id="projects">
	<a href="/projects/project1" class="text-blue">
		<h2>Project 1</h2>
		<p>A brief description of Project 1.</p>
	</a>

	<a href="/projects/project2" class="box">
		<h2>Project 2</h2>
		<p>A brief description of Project 2.</p>
	</a>

	<a href="/projects/project3" class="box">
		<h2>Project 3</h2>
		<p>A brief description of Project 3.</p>
	</a>
</div>